* {
  accent:           #ffb52a;
  background:       #00000000;
  background-light: #eeeeee;
  background-focus: #0000ff;
  foreground:       #111111;
  foreground-list:  #bbbbbb;
  on:               #b5ff2a;
  off:              #e60053;
}

