FreeTube/*
discord/*
autostart/*
dconf/*
neofetch/*
thefuck/*
pulse/*
cef_user_data/*
ibus/*
libfm/*
pcmanfm/*
pupgui/*
qt6ct/*
systemd/*
mimeapps.list
dolphin-emu/*
QtProject.conf
Authy\ Desktop/*
GIMP/*
ncmpcpp/error.log
vdir/*
unity3d/*
